=semantic_form_for @crossword, :html => {:multipart => true} do |f|
  =f.inputs do
    =f.input :picture, :as => :file
    =f.input :block_width, :label => "Puzzle width", :required => false
    Puzzle height will be set proportionally
    
  =f.buttons do
    =f.commit_button    
    